.Tag {
	line-height: 14px;
	font-size: 12px;
  line-height: 1.17;
  letter-spacing: normal;
  font-weight: bold;
  color: #ffffff;

	padding: 3px 7px;
	border-radius: 10px;
	background-color: #a5721a;
	background-color: var(--gold);

	margin-right: 6px;
	margin-bottom: 6px;

	display: inline-block;
	cursor: pointer;
}

.Tag[disabled] {
	background-color: #888888;
  background-color: var(--light-grey);
}

.Tag[disabled]:hover {
	background-color: #888888;
	background-color: var(--light-grey);
}

.Tag.read-only {
	cursor: initial;
}