.TypeAheadChoice {
	-webkit-font-smoothing: antialiased;
	background-color: #231f20;
  background-color: var(--black);
	line-height: 50px;
	list-style: none;
	padding: 0;
	color: #ffffff;
	width: 100%;
	padding: 0 20px;
	border: solid 1px #6a6a6a;
  border: solid 1px var(--dark-grey);
  border-top: none;

	display: none;
}

.TypeAheadChoice:hover,
.TypeAheadChoice:focus,
.TypeAheadChoice:active {
	background-color: #ffffff;
}

.TypeAheadChoice {
	width: 100%;
}

.TypeAheadChoice:hover,
.TypeAheadChoice:focus,
.TypeAheadChoice:active {
	color: #231f20;
  color: var(--black);
}

.TypeAheadChoice * {
	pointer-events: none;
	user-select: none;
}

.TypeAheadChoice .value {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.TypeAheadChoice .match {
	text-decoration: underline;
}

.TypeAheadChoice label {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-align: right;
  color: #6a6a6a;
  color: var(--dark-grey);
}
