.FilterResultsSummary {
    font-family: Karla;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.17;
    color: #231f20;
    color: var(--black);
    padding: 60px 70px 0;
    display: inline-block;

}
