.Button {
	display: inline-block;
	padding: 25px 30px;
	border: solid 2px #231f20;
  border: solid 2px var(--black);
  cursor: pointer;

  transition: background-color 0.33s linear,
  	border-color 0.33s linear,
  	opacity 0.33s linear,
  	color 0.33s linear;

  font-weight: bold;
  text-align: center;
  font-family: Karla, sans-serif;
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #231f20;
  color: var(--black);
  text-transform: uppercase;
}

.Button:hover {
	background-color: #231f20;
  background-color: var(--black);

  border-color: #231f20;
  border-color: var(--black);

  color: #ffffff;
}

.Button:disabled {
	opacity: 0.5;
	cursor: disabled;
}

.Button.large {
	padding: 34px 60px;
	background-color: #231f20;
  background-color: var(--black);

  font-size: 20px;
  color: #ffffff;
  letter-spacing: 2px;
}

h1 .Button.large,
h1 .Button.default {
  position: relative;
  top: -10px;
}

.Button.large:hover {
	background-color: rgba(35, 31, 32, 0.8);
	border-color: rgba(35, 31, 32, 0.8);
}

.Button.large:disabled {
  opacity: 0.5;
  background-color: #231f20;
  background-color: var(--black);
  cursor: disabled;
}

.Button.small {
	padding: 15px 24px;	
}