/*  label  */
.SearchFilter.label {
	display: inline-block;
	padding: 0 22px;
	font-size: 18px;
	color: #ffffff;
	border: solid 1px #6a6a6a;
  border: solid 1px var(--dark-grey);
  border-left: none;
  line-height: 50px;
}

.SearchFilter.label:hover,
.SearchFilter.label:focus,
.SearchFilter.label.active {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #231f20;
  color: var(--black);
}

/*  menu  */
.SearchFilter.menu {
	display: block;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 50px;
	z-index: 99;
	border: solid 1px;
	border-top: none;
	background-color: transparent;
	border-color: transparent;

	height: 0;
	transition: height 0.15s linear,
		padding 0.15s linear,
		border-color 0.15s linear,
		background-color 0.15s linear; 
}

.SearchFilter.menu label {
	font-weight: bold;
	font-size: 14px;
	margin-top: 1em;
	line-height: 1.57;
}

.SearchFilter.menu.active {
	padding: 8px 36px 25px;
	height: auto;
	border-color: #6a6a6a;
	border-color: var(--dark-grey);
	background-color: #231f20;
	background-color: var(--black);
}

.SearchFilter .inline-group {
	display: inline-block;
}

.SearchFilter .Tag:hover {
	background-color: rgba(165, 114, 26, 0.8);
}
