.CollectionItemPageMenu {
  padding: 70px 0 0;
  top: 95px;
  transition: top 0.33s linear;
}

@media (min-width: 900px) {
  .CollectionItemPageMenu.fixed {
    position: fixed;
    top: 127px;
    max-width: 180px;
  }  
}

.CollectionItemPageMenu li .Button {
  margin-top: 20px;
}

.CollectionItemPageMenu li {
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  color: #4a4a4a;
  color: var(--darkest-gray);
  list-style: none;
  padding: 0;
}

.CollectionItemPageMenu li a {
	color: var(--black);
}

.CollectionItemPageMenu li {
	margin-bottom: 20px;
}

.CollectionItemPageMenu li.active a {
	font-weight: bold;
	color: #a5721a;
  color: var(--gold);
}