.Filmmaker {
	display: flex;
}

.Filmmaker .media,
.Filmmaker .content {
	display: inline-block;
	vertical-align: top;
	height: 115px;
	background-color: #ffffff;
}

.Filmmaker .content {
	flex: 1;
	padding: 20px;
}

.Filmmaker .displayName {
	margin-bottom: 26px;
}