.SearchMenuItem {
	background-color: #231f20;
  background-color: var(--black);
  padding: 0 20px;

  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  color: #ffffff;
  height: 50px;
  width: 205px;
  border: solid 1px #6a6a6a;
  border: solid 1px var(--dark-grey);
  margin-top: -1px;

  cursor: pointer;
  z-index: 90;
}

.SearchMenuItem:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #231f20;
  color: var(--black);
}