.SearchMenu {
	border: solid 1px #6a6a6a;
  border: solid 1px var(--dark-grey);	
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.SearchMenu:not(.open):hover {
	border-color: #ffffff;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	z-index: 50;
}


.SearchMenu .label {
	background-color: #231f20;
  background-color: var(--black);
	font-size: 18px;
	color: #ffffff;
	line-height: 46px;
	padding: 0 20px;
	white-space: nowrap;
}

.SearchMenu .label .Caret {
	height: 48px;
	margin-right: -5px;
}

.SearchMenuOptions {
	background-color: #231f20;
  background-color: var(--black);
	border-right: none;
	line-height: 50px;
	list-style: none;
	padding: 0;
	color: #ffffff;
	position: absolute;
	left: 0;
	z-index: 101;
	margin-top: 50px;

	display: none;
}

.SearchMenuOptions.active {
	display: block !important;
}