.CalDayTitleHeader {
	background-color: #231f20;
  background-color: var(--black);
}

.CalDayTitleHeader > .container {
	
}

.CalDayTitleHeader > .container > * {
	padding-top: 40px;
	padding-bottom: 40px;
}


.CalDayTitleHeader .date-wrapper {
	border-right-color: #4a4a4a;
	border-right: solid 2px var(--darkest-gray);
	padding-right: 24px;
	margin-right: 45px;
}

.CalDayTitleHeader h1 {
	margin-bottom: 3px;
}

.CalDayTitleHeader .title-wrapper {
	min-height: 105px;
}

.CalDayTitleHeader .author {
	color: white;
	font-size: 16px;
	text-align: left;
	padding: 0 10px;
	color: #a5721a;
	color: var(--gold);
}

.NewsDetail .CalDayTitleHeader .CalDay {
	width: 145px;
	padding: 10px;
}

.NewsDetail .CalDayTitleHeader .CalDay > * {
	text-align: left;
}