.CalDayTitleHeader {
	background-color: #231f20;
  background-color: var(--black);
}

.CalDayTitleHeader > .container {
	
}

.CalDayTitleHeader > .container > * {
	padding-top: 40px;
	padding-bottom: 40px;
}


.CalDayTitleHeader .date-wrapper {
	border-right-color: #4a4a4a;
	border-right: solid 2px var(--darkest-gray);
	padding-right: 24px;
	margin-right: 45px;
}

@media (max-width: 1200px) {
	.CalDayTitleHeader .date-wrapper {
		display:none;
	}
}

.CalDayTitleHeader h1 {
	margin-bottom: 3px;
}

.CalDayTitleHeader .title-wrapper {
	min-height: 105px;
}

.CalDayTitleHeader .author {
	color: white;
	font-size: 16px;
	text-align: left;
	padding-top: 10px;
	opacity: 0.5;
}

.NewsDetail .CalDayTitleHeader {
	margin-bottom: 70px;
}

.NewsDetail .CalDayTitleHeader .CalDay {
	width: 145px;
	padding: 10px;
}

.NewsDetail .CalDayTitleHeader .CalDay > * {
	text-align: center;
}

.NewsDetail .CalDayTitleHeader .Tags {
	margin-top: 1em;
}

.NewsDetail .CalDayTitleHeader .title-wrapper {
	padding-top: 30px;
	padding-bottom: 30px;
}