.CollectionItemPage > .container {
	padding: 0 70px 100px;
}

.CollectionItemPage .descriptive-content {
	max-width: 760px;
}

.CollectionItemPage h3 {
	margin-bottom: 33px;
}

.CollectionItemPage section {
	padding-top: 70px;
}

.CollectionItemPage .descriptive-content > *:first-child {
	padding-top: 70px;
}

.CollectionItemPage .section-button {
	display: inline-block;
}

.CollectionItemPage section + .section-button {
	margin-top: 60px;
}

.CollectionItemPage .content > a {
	display: inline-block;
	margin-top: 45px;
}

.CollectionItemPage header.d-flex {
	margin-bottom: 35px;
}

.CollectionItemPage header.d-flex h3 {
	margin-bottom: 0;
	margin-top: 10px;
	padding-right: 2em;
}

.CollectionItemPage .ViewModeToggler label {
  padding-right: 6px;
}

.CollectionItemPage .ViewModeButton {
	/*width: 38px;*/
}

.CollectionItemPage .ViewModeButton img {
  /*padding-right: 2px;*/
  /*padding-left: 2px;*/
  /*width: 28px;*/
}

.CollectionItemPage .NewsTile {
	margin-bottom: 40px;
}