.BrowseLink {
  font-family: Karla;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 19px;
}

.BrowseLink .arrow {
	display: inline-block;
	margin-left: 29px;
	font-weight: normal;
  opacity: 0.5;

  transition: margin-left 0.33s linear,
    opacity 0.33s linear,
    font-weight 0.33s linear;
}

.BrowseLink a {
  opacity: 0.66;
  transition: opacity 0.15s linear;
}

.BrowseLink a:hover,
.BrowseLink a:active,
.BrowseLink a:focus {
  text-decoration: none !important;
  opacity: 1;
}

.BrowseLink a:hover .arrow,
.BrowseLink a:active .arrow,
.BrowseLink a:focus .arrow {
  margin-left: 15px;
  opacity: 1;
  font-weight: bold;
}
