.SearchBar {
	color: #ffffff;
	display: flex;
	width: 100%;
	height: 50px;
	cursor: pointer;
	padding: 0;
	position: relative;
}

form.SearchBar {
	display: flex;
	width: 100%;
}

.SearchBar .input-wrapper {
	flex: 1;
}
.SearchBar input {
	width: 100%;
	height: 100%;
	border: solid 1px #6a6a6a;
	border: solid 1px var(--dark-grey);
	padding-left: 48px;
	background-color: transparent;
	display: inline-block;
}

.SearchBar .IconSearch {
	padding: 17px 10px 17px 17px;
	position: absolute;
}

.SearchBar input:hover,
.SearchBar.active input {
	border-color: #ffffff;
	z-index: 100;
	cursor: pointer;
	z-index: 2;
}

.SearchBar input:disabled {
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 14px;
}

.SearchBar input,
.SearchBar input::placeholder {
	color: #ffffff;
  font-size: 18px;
}

.SearchBar input:focus,
.SearchBar input:active {
	outline: none;
}
