/* TODO: collapsed nav -> component */
.collapsed-nav {
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

	/*display: none;*/
	margin-top: -200px;
	transition: margin-top 0.33s linear;
}
.collapsed-nav.active {
	/*display: block;*/
	margin-top: 0;
}
.collapsed-nav .MainNav .logo-nav-item {
	padding: 4px !important;
}

.collapsed-nav .MainNav .navbar {
  border-bottom: none;
}

.CollectionPage header.search-sort {
	padding-top: 63px;
	background-color: var(--black);
	padding: 70px 70px 43px 70px;
}

.CollectionPage header.search-sort h1 {
	margin-bottom: 40px;
}

.CollectionPage .filters {
	position: relative;
	height: 50px;
}

.CollectionPage .change-view {
	position: absolute;
	top: 0;
	right: 0;
	color: #ffffff;
}

.CollectionPage .change-view label {
	text-align: right;
	padding-right: 1em;
	margin: 0;
}

.CollectionPage .change-view > * {
	vertical-align: middle;
}

.CollectionPage .ViewModeButton {
	border-top: solid 1px #6a6a6a;
	border-bottom: solid 1px #6a6a6a;
	border-left: solid 1px #6a6a6a;
	border-top: solid 1px var(--dark-grey);
	border-bottom: solid 1px var(--dark-grey);
	border-left: solid 1px var(--dark-grey);
}

.CollectionPage .ViewModeButton:last-child {
	border-right: solid 1px #6a6a6a;
	border-right: solid 1px var(--dark-grey);
}

.CollectionPage .Search {
	display: flex;
	max-width: 755px;
	margin-top: 40px;
}

.CollectionPage .SearchMenu {
	width: 205px;
	height: 50px;
	overflow: hidden;
	position: absolute;
}

.CollectionPage .SearchMenuOptions {
	margin-top: 50px;
}

.CollectionPage .SearchBar {
	width: 561px;
	position: absolute;
	left: 204px;
}

.CollectionPage .SearchMenuItem {
	margin-top: -1px;
}

.CollectionPage .SearchMenu:not(.open):hover + .SearchBar {
	border-left-color: #ffffff;
}

/*  Contents  */
.CollectionPage .section-header .Button {
	position: relative;
	top: -10px;
}

.CollectionPage .section-header p {
	margin-bottom: 0;
}

.CollectionPage .section-header {
	margin-bottom: 35px;
}

.CollectionPage .container-fluid {
	padding-left: 0;
	padding-right: 0;
}