.MainNavFilterBar {
	height: 50px;
	display: flex;
}

.MainNavFilterBar > * {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	border-bottom: solid 2px rgba(255, 255, 255, 0.2);
	border-right: solid 2px rgba(255, 255, 255, 0.2);
}

.MainNavFilterBar > *:last-child {
	border-right: none;
}

.MainNavFilterBar .SearchBar {
	flex: 3;
}


.MainNavFilterBar .view-bar {
	flex: 2;
	text-align: right;
	line-height: 50px;
	padding-right: 24px;
	color: #ffffff;
}