.MainNavFilterBar {
	height: 50px;
	display: flex;
	background-color: var(--black);
}

.MainNavFilterBar .SearchBar {
	flex: 3;
	border-left-color: transparent;
}

.MainNavFilterBar .SearchBar:hover,
.MainNavFilterBar .SearchBar.active {
	border-left-color: white;
}

.MainNavFilterBar .SearchMenu .label .text {
	padding-right: 30px;
}


.MainNavFilterBar .view-bar {
	flex: 2;
	text-align: right;
	line-height: 50px;
	padding-right: 24px;
	color: #ffffff;
	border: solid 1px #6a6a6a;
	border: solid 1px var(--dark-grey);
	border-left: none;
	border-right: none;
}

.MainNavFilterBar > .ViewModeButton {
	border: solid 1px #6a6a6a;
	border: solid 1px var(--dark-grey);
	border-right: none;
}