.Carousel {
	width: 100%;
	position: relative;
	cursor: pointer;
	background-color: #8b8b8b;
}

.Carousel .nav {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

.Carousel .Caret {
	position: absolute;
	top: 0;
	opacity: 0.66;
	margin-top: -14px;
	cursor: pointer;
}

.Carousel .Caret:hover,
.Carousel .Caret:focus {
	opacity: 1;
} 

.Carousel .Caret.left {
	left: 0;
}

.Carousel .Caret.right {
	right: 0;
}

.CarouselPhotoFiller {
  height: 100%;
  text-align: center;
}

.CarouselPhotoFiller a h4 {
	color: #ffffff;
}

.CarouselPhotoFiller a p {
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 3px;
}

/* TODO: reorder CSS */
.list .Carousel .Caret.right {
	margin-top: -14px;
}
.list .Carousel .Caret.left {
	margin-top: -14px;
}

.SearchCard.list.is-item-page-film-card .media .Carousel {
	height: 184px;
	width: 245px;
}