.CarouselShowMoreForeground {
	width: 100%;
	height: 100%;
  padding: 50px 60px;
	background-color: rgba(0, 0, 0, 0.66);
}

.list .CarouselShowMoreForeground {
	padding: 20px 35px;
}

.CarouselShowMoreForeground,
.CarouselShowMoreForeground * {
	color: #fff;
}

.CarouselShowMoreForeground p {
	margin-bottom: 5px;
}

.CarouselShowMoreForeground h4 {
	height: auto;
}

.list .CarouselShowMoreForeground p {
	font-size: 0.9rem;
}

.list:not(.is-item-page-film-card) .CarouselShowMoreForeground h4 {
	width: 65px;
	font-size: 1rem;
	padding: 0;
}