.CoverCarousel {
	width: 100%;
	position: relative;
	cursor: pointer;
	background-color: #8b8b8b;
}

.CoverCarousel .nav {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

.CoverCarousel .Caret {
	position: absolute;
	top: 0;
	opacity: 0.66;
	margin-top: -14px;
	cursor: pointer;
}

.CoverCarousel .Caret:hover,
.CoverCarousel .Caret:focus {
	opacity: 1;
} 

.CoverCarousel .Caret.left {
	left: 0;
}

.CoverCarousel .Caret.right {
	right: 0;
}

.CarouselShowMoreSlide {
  height: 100%;
  text-align: center;
}

.CarouselShowMoreSlide a h4 {
	color: #ffffff;
}

.CarouselShowMoreSlide a p {
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 3px;
}

/* TODO: reorder CSS */
.list .CoverCarousel .Caret.right {
	margin-top: -14px;
}
.list .CoverCarousel .Caret.left {
	margin-top: -14px;
}

.SearchCard.list.is-item-page-film-card .media .CoverCarousel {
	height: 184px;
	width: 245px;
}