.CollectionPage .CollectionSection:last-child {
	min-height: 500px;
}
/*.CollectionPageItem > .container {
	padding: 0 70px 100px;
}

.CollectionPageItem .content {
	max-width: 758px;
}

.CollectionPageItem h3 {
	margin-bottom: 27px;
}

.CollectionPageItem section {
	padding-top: 70px;
}

.CollectionPageItem .Button {
	margin-top: 45px;
}

.CollectionPageItem header.d-flex {
	margin-bottom: 35px;
}

.CollectionPageItem header.d-flex h3 {
	margin-bottom: 0;
	margin-top: 10px;
	padding-right: 2em;
}

.CollectionPageItem .ViewModeToggler label {
    padding-right: 6px;
}*/