.Footer {
	background-color: #231f20;
  background-color: var(--black);
  padding: 125px 70px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  margin-top: 60px;

  position: absolute;
  left: 0;
  right: 0;
}

.Footer ul.links {
	column-count: 2;
	list-style: none;
  padding: 0;
}

.Footer ul.links li {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  color: #ffffff;
  margin-bottom: 10px;
}

.Footer a,
.Footer a:hover,
.Footer a:active {
	color: #ffffff;
}

.Footer a:hover,
.Footer a:active {
  text-decoration: underline;
}

.Footer .bio .contact div {
	margin-bottom: 10px;
}

.Footer section {
	margin-bottom: 45px;
}

.Footer .social a {
  margin-right: 9px;
}

.Footer .subscribe-label {
  font-size: 23px;
  color: #ffffff;
  margin-bottom: 26px;
  margin-top: 112px;
}