.NewsDetail hr {
	background-color: var(--grey);
	margin-top: 35px;
	padding-bottom: 35px;
}

.NewsDetail li {
	display: block;
}

.NewsDetail ol,
.NewsDetail ul {
	counter-reset: item;
}
.NewsDetail .other-entries {
	padding-bottom: 70px;
}

.NewsDetail .other-entries h3 {
	margin-bottom: 1em;
}

.NewsDetail .click-arrow {
	display: inline-block;
	padding: 5px;
	cursor: pointer;
	margin: 0;
}

@media (min-width: 1200px) {
	.NewsDetail .container {
		max-width: 1140px;
	}
}

figure {
	margin: 0;
	/* Fix caption alignment within figure */
	display: flex;
	flex-direction: column;
}

figure figcaption {
	font-size: 16px;
	text-align: right;
	line-height: initial;
	margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
	text-align: left;
}

p {
	margin-bottom: 0;
}

li {
	counter-increment: item;
}

li > p:first-child {
	position: relative;
}

li > p:last-child {
	margin-bottom: 0;
}

li > p:first-child:before {
	content: counter(item) '. ';
	display: inline-block;
	position: absolute;
	text-align: right;
	left: -1.5em;
}