.Spotlight {
	margin-bottom: 0;
}

.Spotlight .spotlight-items {
	background-color: white;
}

.Spotlight .photo-wrapper,
.Spotlight .photo-wrapper .PhotoFill {
	background-color: black;
}

.Spotlight .preload-images {
	display: none !important;
}

.SpotlightListItem {
	padding: 28px 40px;
	background-color: #ffffff;
	border-bottom: solid 1px #d8d8d8;
	border-left: solid 6px transparent;
	box-sizing: border-box;

	transition: border-left-color 0.33s linear;
	cursor: pointer;
}

.Spotlight .PhotoFill {
	display: none;
}

.Spotlight .PhotoFill.active {
	display: block;
}

.SpotlightListItem h6 {
	line-height: 1.5;
}

.SpotlightListItem > * {
	transition: opacity 0.33s linear, border-left-color 0.33s linear;
}

.SpotlightListItem:not(.active) > * {
	opacity: 0.6;
}

.SpotlightListItem.active,
.SpotlightListItem:hover {
	border-left-color: var(--gold);
}

.SpotlightListItem:hover > * {
	opacity: 1;
}