.CollectionItemHeader {
	padding: 45px 70px 15px;
	background-color: #231f20;
  background-color: var(--black);
}

.CollectionItemHeader.collapsed {
	border-top: solid 1px var(--dark-grey);
	padding: 8px 70px;
	border-color: #6a6a6a;
}

.CollectionItemHeader label {
  font-size: 12px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1.6px;
  color: #d8d8d8;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.CollectionItemHeader .RefNameLink {
  font-size: 14px;
  line-height: 1.64;
  margin-top: 6px;
  margin-bottom: 22px;
  display: inline-block;
}

.CollectionItemHeader.collapsed .RefNameLink {
	margin-top: 0;
	margin-bottom: 0;
}

.CollectionItemHeader .year {
	height: 14px;
	line-height: 1.64;
	color: white;
	font-weight: bold;
	font-size: 12px;
}

.CollectionItemHeader.films h1 {
	margin-bottom: 0;
}

.CollectionItemHeader h1 {
	margin-bottom: 33px;
}

.CollectionItemHeader.films .metadata {
	margin-top: 90px;
}

.CollectionItemHeader .metadata {
	margin-bottom: 0;
	margin-bottom: 25px;
}

.CollectionItemHeader h1 {
	transition: font-size 0.33s linear,
		line-height 0.33s linear,
		margin-bottom 0.33s linear;
}

.CollectionItemHeader.collapsed h1 {
	font-size: 26px;
	line-height: 1.77;
	margin-bottom: 0 !important;
	white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CollectionItemHeader.collapsed .metadata {
	margin-top: 0;
	margin-bottom: 0;
}
