.MainNav.is-home {
  z-index: 22;
  position: absolute;
  left: 0;
  right: 0;
}

.MainNav .navbar {
	height: 104px;
  min-width: 1000px;
	padding: 0;
  -webkit-font-smoothing: antialiased;
  border-bottom: solid 1px #6a6a6a;
  border-bottom: solid 1px var(--dark-grey);
}

.MainNav .logo-nav-item {
  border-right: solid 1px #6a6a6a;
  border-right: solid 1px var(--dark-grey);
  padding: 7px !important;
}

.MainNav .nav-link {
  opacity: 0.6;
  font-family: Karla;
  font-size: 18px;
  font-weight: bold;
  color: #e6e6e6;
}

.MainNav .nav-item:last-child a {
  padding-right: 42px;
}

.MainNav .IconNewWindow {
  padding-left: 10px;
  display: inline-block;
  margin-top: -3px;
}

.MainNav .nav-link.logo {
	opacity: 1;
	padding: 0;
}

.MainNav .nav-item a {
  transition: opacity 0.33s ease-in-out;
}
.MainNav .nav-item a:hover,
.MainNav .nav-item a:active,
.MainNav .nav-item a:focus {
  opacity: 1;
  color: #ffffff;
  text-decoration: none !important;
}

.MainNav .nav-item.active a {
  opacity: 1 !important;
}

/*  collapsed style  */

.MainNav.collapsed {
  background: var(--black);
}

.MainNav.collapsed .navbar {
  height: 63px;
}

.MainNav.collapsed .logo img {
  height: 57px;
}
