.MainNav.is-home {
  z-index: 22;
  position: absolute;
  left: 0;
  right: 0;
}

.MainNav .navbar {
  /*height: 104px;*/
  padding: 0;
  -webkit-font-smoothing: antialiased;
  border-bottom: solid 1px #6a6a6a;
  border-bottom: solid 1px var(--dark-grey);
}

.MainNav .logo-nav-item {
  border-right: solid 1px #6a6a6a;
  border-right: solid 1px var(--dark-grey);
  padding: 7px !important;
}

.MainNav .nav-link {
  opacity: 0.6;
  font-family: Karla;
  font-size: 18px;
  font-weight: bold;
  color: #e6e6e6;
}

.MainNav .nav-item:last-child a {
  padding-right: 42px;
  font-size: 18px;
  color: #e6e6e6;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.33s ease-in-out;
}

.MainNav .nav-item:last-child a:hover {
  opacity: 1;
}

.MainNav .IconNewWindow {
  padding-left: 10px;
  display: inline-block;
  margin-top: -3px;
}

.MainNav .nav-link.logo {
	opacity: 1;
	padding: 0;
}

.MainNav .nav-item a {
  transition: opacity 0.33s ease-in-out;
}
.MainNav .nav-item a:hover,
.MainNav .nav-item a:active,
.MainNav .nav-item a:focus {
  opacity: 1;
  color: #ffffff;
  text-decoration: none !important;
}

.MainNav .nav-item.active a {
  opacity: 1 !important;
}

/*  collapsed style  */

.MainNav.collapsed {
  background: var(--black);
}

.MainNav.collapsed .navbar {
  height: 63px;
}

.MainNav.collapsed .logo img {
  height: 57px;
}


.MainNav .navbar-toggler {
  background: #9b9b9b url("/images/navbar-toggler.svg") no-repeat center;
  text-align: center;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: white;
  float: right;
}

@media (max-width: 770px) {
  .MainNav .navbar {
    border: none;
    padding: 15px;
    background-color: white;
  }
  .MainNav .navbar .logo-nav-item {
    display: none;
  }
  .MainNav .navbar ul, li {
    display: block;
  }

  .MainNav .nav-item a, .MainNav .nav-item:last-child a {
    color: var(--black)
  }

  .MainNav .nav-item a:hover,
  .MainNav .nav-item a:active,
  .MainNav .nav-item a:focus, .MainNav a {
    opacity: 1;
    color: #000;
    text-decoration: none !important;
  }



}



