.MainNav .navbar {
	height: 104px;
	padding: 0;
  -webkit-font-smoothing: antialiased;
}

.MainNav .nav-item:first-child {
  border-right: solid 1px #6a6a6a;
  border-right: solid 1px var(--dark-grey);
  padding: 5px !important;
}

.MainNav .nav-link {
  opacity: 0.6;
  font-family: Karla;
  font-size: 18px;
  font-weight: bold;
  color: #e6e6e6;
}

.MainNav .nav-link.logo {
	opacity: 1;
	padding: 0;
}

.MainNav .nav-item a {
  transition: opacity 0.33s ease-in-out;
}
.MainNav .nav-item a:hover,
.MainNav .nav-item a:active,
.MainNav .nav-item a:focus {
  opacity: 1;
  text-decoration: none !important;
}

/*  collapsed style  */

.MainNav.collapsed {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.MainNav.collapsed .navbar {
  height: 63px;
}

.MainNav.collapsed .logo img {
  height: 57px;
}

.MainNav .nav-item:first-child {
  padding: 3px !important;
}