/* TODO: support custom css vars, for IE users */

* {
  box-sizing: border-box;
}

:root {
  --gold: #a5721a;
  --lightest-gray: #eae8e8;
  --black: #231f20;
  --darkest-gray: #4a4a4a;
  --dark-grey: #6a6a6a;
  --offwhite: #f6f5ec;
  --light-grey: #888888;
}

html {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  /* desktop only */
  min-width: 1000px;
}

body {
  background-color: #f6f5ec;
  background-color: var(--offwhite);
}

.App {
  margin: 0;
  padding: 0;
  
  font-family: Karla, sans-serif;
  color: #231f20;
  color: var(--black);
}

.padded-container {
  padding: 0 70px; 
}

/* text styles */

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

a.white {
  color: #ffffff !important;
}

a.white:hover,
a.white:active,
a.white:focus {
  color: #ffffff !important;
  text-decoration: underline !important;
}

input:focus,
input:active {
  outline: none;
}

.uppercase {
  text-transform: uppercase !important;
}

.white {
  color: #ffffff !important;
}

/* header styles */

h1 {
  font-family: Lora, sans-serif;
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
  color: var(--black);
}

h1.lead {
  font-family: Lora, sans-serif;
  font-size: 48px;
  line-height: 1.13;
  text-align: left;
  color: #231f20;
  color: var(--black);
  margin-top: 50px;
  margin-bottom: 50px;
}

h1.discover {
  max-width: 736px;
}

.H2-Black,
h2 {
  font-family: Lora, sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: normal;
  text-align: center;
  color: #4a4a4a;
  color: var(--darkest-gray);
}

.H3-Black,
h3 {
  font-family: Karla, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
  color: var(--black);
  margin-bottom: 10px;
}

.H4-Black,
h4 {
  font-family: Karla, sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  color: var(--darkest-gray);
}

.H5-Black,
h5 {
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: 3px;
  text-align: left;
  color: #4a4a4a;
  color: var(--darkest-gray);
}

.H6-Gray,
h6 {
  font-family: Karla, sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.6px;
  text-align: left;
  color: #6a6a6a;
  color: var(--dark-grey);
}

/*  paragraph styles  */

p.lead {
  font-family: Karla, sans-serif;
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
}

.Paragraph-Black,
p {
  font-family: Karla, sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
  color: var(--darkest-gray);
}

.Paragraph-Small-Black,
p.small {
  font-family: Karla, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
  color: var(--black);
}

.Paragraph-Small-White,
small > p.white {
  text-align: center;
  color: #ffffff;
}
