.CollectionSection {
	padding: 60px 70px 0;
	background-color: var(--offwhite);

	/*  enforce desktop design only:
		avoid card overflows + fix search card widths to
		preserve desired image sizing
	*/
	min-width: 1300px;
}

.CollectionPage .CollectionSection:last-child {
  padding-bottom: 150px;
}