.SearchCard {
	display: inline-block;
	margin-bottom: 40px;
	margin-right: 40px;
	font-size: 14px;
	line-height: 22px;

	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  

	width: 360px;
}

.SearchCard.list {
	width: 100%;
}

.SearchCard.grid h6 {
	margin-top: 5px;
}

.SearchCard .media {
	height: 223px;
}

.SearchCard .main {

}

.SearchCard .displayName {
	display: inline-block;
}

.SearchCard.filmmaker .displayName {
	width: 225px;
}

.SearchCard.filmmaker .displayName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.SearchCard p.small {
	line-height: 22px;
}

.SearchCard .content {
	background-color: #ffffff;
	padding: 30px 35px;
}

.SearchCard.grid .content {
	height: 277px;
}

.SearchCard.grid.on-filmmaker-page .content {
	height: 227px;
}

.SearchCard .content:hover {
	box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.08);
	cursor: pointer;
}

.SearchCard a {
	color: #a5721a;
	color: var(--gold);
}

.SearchCard a:hover {
	color: rgba(165, 114, 26, 0.8);
}

.SearchCard h4 {
	height: 48px;
	line-height: 24px;
	margin-bottom: 12px;
}

.SearchCard.ephemera h4 {
	height: 72px;
	margin-bottom: 25px;
}

.SearchCard.grid.ephemera .tags {
	margin: 0;
	height: 50px;
}

.SearchCard h6 {
  color: #888888;
  color: var(--light-grey);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.SearchCard .creator {
	margin-bottom: 10px;
}

.SearchCard .year {
	display: inline-block;
  font-weight: normal;
  padding-left: 10px;
}

.SearchCard .avatar {
	margin-right: 25px;
}

.SearchCard .tags {
	margin-top: 0;
}

.SearchCard .Carousel {
	height: 223px;
}

/*  List View  */
.SearchCard.list {
	font-size: 0;
	height: 105px;
}

.SearchCard.list > * {
	font-size: 14px;
}


.SearchCard.list .media,
.SearchCard.list .content {
	height: 105px;
}

.SearchCard.list .media .Carousel {
	height: 100%;
}

.SearchCard.list .content {
	padding: 16px 20px;
}

.SearchCard.list .main {
	padding-right: 3.5rem;
}

.SearchCard.list .avatar {
	margin-right: 16px;
}

/* TODO: hack the one-line clamp */
.SearchCard.list.film .displayName,
.SearchCard.film .creator,
.SearchCard.list.filmmaker .displayName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block !important;
}

.SearchCard.film .creator,
.SearchCard.list .related {
	width: 295px;
}

.SearchCard.grid.filmmaker .displayName,
.SearchCard.list.filmmaker .displayName {
	width: 225px;
	display: inline-block !important;
}

.SearchCard:not(.list) .filmmakers {
	height: 48px;
}

.SearchCard.list .list-center-wrapper {
	display: table !important;
	height: 100%;
	width: 100%;
	padding-right: 26px;
}

.SearchCard.list .list-center-wrapper > * {
	margin: 0;
	display: table-cell;
	vertical-align: middle;
}

.SearchCard.list .content > *:last-child .list-center-wrapper {
	padding-right: 0;
}

.SearchCard.list h4 {
	height: auto;
	margin-bottom: 12px;
}

.SearchCard.list .creator {
	margin: 0;
}

.SearchCard.list p.small {
	margin-bottom: 0;
	margin-top: 3px;
}

.SearchCard.list .tags {
	margin: 0;
	padding-left: 1rem;
}

.SearchCard.list .CarouselPhotoFiller .foreground {
   padding: 21px 38px;
}

.SearchCard.list .CarouselPhotoFiller .foreground h4 {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SearchCard.list .col-sm-4 + .col-sm-4:not(.order-3) + .col-sm-4 .RelatedLinks {
    padding-left: 1rem;
}