.SearchCard {
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 22px;
}

.SearchCard .media {
	height: 223px;
}

.SearchCard .title {
	display: inline-block;
}

.SearchCard.filmmaker .title {
	width: 225px;
}

.SearchCard.filmmaker .title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.SearchCard p.small {
	line-height: 22px;
	width: 297px;
}

.SearchCard .content {
	background-color: #ffffff;
	padding: 30px 35px;
}

.SearchCard.tile .content {
	height: 277px;
}

.SearchCard .content:hover {
	box-shadow: 0 10px 60px 0 rgba(0, 0, 0, 0.08);
	cursor: pointer;
}

.SearchCard a {
	color: #a5721a;
	color: var(--gold);
}

.SearchCard a:hover {
	color: rgba(165, 114, 26, 0.8);
}

.SearchCard h4 {
	height: 48px;
	line-height: 24px;
	margin-bottom: 12px;
}

.SearchCard.ephemera h4 {
	height: 72px;
	margin-bottom: 25px;
}

.SearchCard.ephemera .tags {
	margin: 0;
	height: 50px;
}

.SearchCard h6 {
  color: #888888;
  color: var(--light-grey);
  text-transform: uppercase;
}

.SearchCard .creator {
	margin-bottom: 10px;
}

.SearchCard .year {
	display: inline-block;
  font-weight: normal;
}

.SearchCard .avatar {
	margin-right: 25px;
}

.SearchCard .tags {
	margin-top: 0;
}

.SearchCard .Carousel {
	height: 223px;
}

/*  List View  */
.SearchCard.list {
	font-size: 0;
	height: 105px;
}

.SearchCard.list > * {
	font-size: 14px;
}


.SearchCard.list .media {
	height: 100%;
}

.SearchCard.list .media .Carousel {
	height: 100%;
}

.SearchCard.list .content {
	padding: 16px 20px;
}

.SearchCard.list .main {
	padding-right: 1em;
}

.SearchCard.list .avatar {
	margin-right: 16px;
}

/* TODO: hack the one-line clamp */
.SearchCard.list.film .title,
.SearchCard.film .creator,
.SearchCard.list.filmmaker .title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block !important;
}

.SearchCard.film .creator,
.SearchCard.list .related {
	width: 295px;
}

.SearchCard.tile.filmmaker .title,
.SearchCard.list.filmmaker .title {
	width: 225px;
	display: inline-block !important;
}

.SearchCard.list .related-links-wrapper {
	display: table !important;
	height: 100%;
}

.SearchCard.list .RelatedLinks {
	display: table-cell;
	vertical-align: middle;
}

.SearchCard.list h4 {
	height: auto;
	margin-bottom: 12px;
}

.SearchCard.list .creator {
	margin: 0;
}

.SearchCard.list p.small {
	margin-bottom: 0;
	margin-top: 3px;
}

.SearchCard.list .content .descriptive {
}

.SearchCard.list .tags {
	margin: 0;
	padding: 26px;
}