.SearchCard {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 40px;
	margin-right: 40px;
	font-size: 14px;
	line-height: 22px;

	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */  
	background: #ffffff;

	width: 360px;
}

.SearchCard.list {
	width: 100%;
}

.SearchCard.grid h6 {
	margin-top: 5px;
}

.SearchCard .media {
	height: 270px;
}

.SearchCard .main {

}

.SearchCard .displayName {
	display: inline-block;
	width: 100%;
}

.SearchCard.filmmaker .displayName {
	width: 225px;
}

.SearchCard.filmmaker .displayName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.SearchCard .description {
	line-height: 21px;
	width: 100%;
}

.SearchCard.grid:not(.filmmaker) .description {
	height: 66px;
}
.SearchCard.grid .tags-wrapper {
	margin-top: 15px;
}

.SearchCard .content {
	background-color: #ffffff;
	padding: 30px 35px;
}

.SearchCard.grid .content {
	height: 286px;
}

.SearchCard.grid.is-item-page-film-card .content {
	height: 227px;
}

.SearchCard .description,
.SearchCard .description p {
	font-family: Karla, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #231f20;
  color: var(--black);
}

.SearchCard a {
	color: #a5721a;
	color: var(--gold);
}

.SearchCard a:hover {
	color: rgba(165, 114, 26, 0.8);
}

.SearchCard h4 {
	height: 48px;
	line-height: 24px;
	margin-bottom: 12px;
}

.SearchCard.ephemera h4 {
	height: 72px;
	margin-bottom: 25px;
}

.SearchCard.grid.ephemera .Tags {
	margin: 0;
	height: 50px;
}

.SearchCard h6 {
  color: #888888;
  color: var(--light-grey);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.SearchCard .creator {
	margin-bottom: 10px;
}

.SearchCard .year {
	display: inline-block;
  font-weight: normal;
  padding-left: 10px;
  text-align: right;
}

.SearchCard .avatar {
	margin-right: 25px;
}

.SearchCard .Carousel {
	height: 270px;
}

/*  List View  */
.SearchCard.list {
	font-size: 0;
	height: 105px;
}

.SearchCard.list > * {
	font-size: 14px;
}


.SearchCard.list .media,
.SearchCard.list .content {
	height: 105px;
}

.SearchCard.list .media .Carousel {
	height: 105px;
	width: 140px;
}

.SearchCard.list .content {
	padding: 18px 20px;
	white-space: nowrap;
}

.SearchCard.list .content * {
	white-space: normal;
}

.SearchCard.list .content .year {
	white-space: nowrap;
}

.SearchCard.list .main {
	padding-right: 3.5rem;
}

.SearchCard.list .avatar {
	margin-right: 16px;
}

/* TODO: hack the one-line clamp */
.SearchCard.list.film .displayName,
.SearchCard.film .creator,
.SearchCard.list.filmmaker .displayName {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block !important;
}

.SearchCard.film .creator,
.SearchCard.list .related {
	width: 295px;
}

.SearchCard.grid.filmmaker .displayName,
.SearchCard.list.filmmaker .displayName {
	width: 225px;
	display: inline-block !important;
}

.SearchCard:not(.list) .filmmakers {
	height: 48px;
	margin-top: 15px;
}

.SearchCard.list .content > *:last-child .list-center-wrapper {
	padding-right: 0;
}

.SearchCard.list h4 {
	height: auto;
	margin-bottom: 6px;
	padding-right: 1rem;
}

.SearchCard.list.is-item-page-film-card h4 {
	margin-bottom: 0;
	height: 41px;
}

.SearchCard.list .creator {
	margin: 0;
}

.SearchCard.list .description {
	margin-bottom: 0;
	margin-top: 3px;
}

.SearchCard.list .Tags {
	margin: 0;
	padding-left: 1rem;
}

.SearchCard.list.is-item-page-film-card .Tags {
	margin-top: 24px;
	padding-left: 0;	
}

.SearchCard.list .CarouselPhotoFiller .foreground {
   padding: 21px 38px;
}

.SearchCard.list .CarouselPhotoFiller .foreground h4 {
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.SearchCard.list .col-sm-4 + .col-sm-4:not(.order-3) + .col-sm-4 .RelatedLinks {
    padding-left: 1rem;
}


/*  filmmaker films */

.SearchCard.list.is-item-page-film-card {
	height: 185px;
}

.SearchCard.list.is-item-page-film-card .description {
	height: 41px;
	margin-bottom: 16px;
}

.SearchCard.grid.is-item-page-film-card .description {
	height: 69px;
}

.SearchCard .filmmaker-film-still,
.SearchCard .filmmaker-film-still + .filmmaker-content {
	display: inline-block;
	vertical-align: top;
}

.SearchCard.list.is-item-page-film-card .filmmaker-content {
	width: 515px;
	height: 185px;
}

.SearchCard .filmmaker-film-still .media {
	width: 245px;
	height: 185px;
}

.SearchCard.list.is-item-page-film-card .content {
	height: 185px;
	padding: 30px;
}

.SearchCard.list.is-item-page-film-card .main {
	padding-right: 0;
	width: 100%;
}