.Sort {
	display: block;
	font-size: 24px;
	line-height: 1.17;
	color: #231f20;
	color: var(--black);
	cursor: pointer;
	margin-bottom: 25px;
}

.Sort a:hover,
.Sort a:active,
.Sort a:focus {
	text-decoration: none;
}

.SortMenuOptions {
   margin-top: 20px;
   padding: 0;
   position: absolute;
   top: auto;
   left: 155px;
   z-index: 99;

   display: none;
}

.SortMenuOptions.active {
	display: block !important;
}

.SortMenuOptions .MenuItem {
	font-size: 18px;
  width: 302px;
}

.SortMenuOptions .MenuItem a {
	color: #fff;
}

.SortMenuOptions .MenuItem:hover a {
	color: #231f20;
	color: var(--black);
}