.PhotoFill {
	background-repeat: no-repeat;
	background-position: center center;
  background-size: contain;
  background-image: url(/images/empty-still.png);
  background-color: #8b8b8b;
}

.PhotoFill .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: left;
	color: rgba(255, 255, 255, 0.75);
	padding: 3rem 30px 0.5rem 30px;
	font-size: 0.9rem;
	background-image: linear-gradient(to bottom, rgba(35, 31, 32, 0), rgba(35, 31, 32, 0.05), #231f20);
  background-image: linear-gradient(to bottom, rgba(35, 31, 32, 0), rgba(35, 31, 32, 0.05), var(--black));
  transition: opacity 0.33s linear;
}

.PhotoFill .faded.caption {
	opacity: 0.6;
}