.CollectionPageItemMenu {
  padding: 70px 0;
}

.CollectionPageItemMenu.fixed {
  position: fixed;
  top: 62px;
}

.CollectionPageItemMenu li {
  font-size: 16px;
  font-weight: normal;
  line-height: normal;
  color: #4a4a4a;
  color: var(--darkest-gray);
  list-style: none;
  padding: 0;
}

.CollectionPageItemMenu li a {
	color: var(--black);
}

.CollectionPageItemMenu li {
	margin-bottom: 20px;
}

.CollectionPageItemMenu li.active a {
	font-weight: bold;
	color: #a5721a;
  color: var(--gold);
}